flask
mysqlclient
flask_sql_alchemy
flask_login
flask_mail


# add your admin credentials in config.json andd gmail id and password
# import sql file in the xamp phpmyadmin

# for above procedure installation refer my youtube video i have added the installation video in same playlist
